@model WebsiteBuilder.Public.Website.WebsiteDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")   
    <script src="~/ScriptsApp/WebsiteEditor/Index.js"></script>
    <style>
        body {
            background-color: #333333;
            margin: 0;
            padding: 0;
            color: aliceblue;
        }

        ul {
            list-style: none;
        }

        header {
            background-color: #132026;
            min-height: 50px;
            width: 100%;
        }

            header > div:first-child {
                padding-left: 30px;
                width: 60%;
                display: inline-block;
            }

            header > div:last-child {
                padding-top: 10px;
                width: 36%;
                display: inline-block;
                text-align: right;
            }

        .left_column {
            height: 100vh;
            width: 20%;
            background-color: #09181F;
            float: left;
        }

        .main_column {
            height: 100vh;
            width: 80%;
            float: left;
        }

        .website_container {
            position: absolute;
            top: 60px;
            left: 30%;
            width: 50%;
            min-height: 1024px;
            border: 1px solid black;
            background-color: white;
        }

        .clickable {
            cursor: pointer;
        }

            .clickable .glyphicon {
                background: rgba(0, 0, 0, 0.15);
                display: inline-block;
                padding: 6px 12px;
                border-radius: 4px
            }

        .panel-heading span {
            margin-top: -23px;
            font-size: 15px;
            margin-right: -9px;
        }

        a.clickable {
            color: inherit;
        }

            a.clickable:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>
    <header>
        <div>Jakub Woźniak strona</div>
        <div><a class="btn btn-danger">Zapisz</a></div>
    </header>
    <main>
        <div class="left_column">
            <div class="list-group" style="margin-top:20px;">
                <div style="width:95%;margin:auto;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Kolor tła
                            </h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body" style="text-align:center;">
                            <div id="changeBackgroundColorBtn" data-format="alias" class="input-group colorpicker-component">
                                <input type="text" value="primary" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                                <input type="hidden" id="backgroundColorHidden" value="" />
                            </div>
                        </div>
                    </div>
                    @*<ul class="draggable-list">
                        <li class="draggable ui-state-default">
                            <div class="draggable-content">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                Otwarte
                            </div>
                        </li>
                        
                        <li id="question-template">
                        </li>
                    </ul>*@
                </div>
            </div>

        </div>
        <div class="main_column">
            <div class="website_container" id="website_container">

            </div>
        </div>
    </main>

</body>
</html>

@section Scripts{
    <script src="~/ScriptsApp/WebsiteEditor/Index.js"></script>
}
