@model WebsiteBuilder.Public.WebsiteEditor.SaveWebsiteEditorDto
@using WebsiteBuilder.Public.Image
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/websiteEditor.css" rel="stylesheet" />
    <link href="~/Content/GridStack/gridstack.css" rel="stylesheet" />
    <script src="~/ScriptsApp/WebsiteEditor/Index.js"></script>
    <script src="~/ScriptsApp/Common/AjaxHelper.js"></script>
    <script src="~/Scripts/bootstrap-colorpicker.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/GridStack/lodash.min.js"></script>
    <script src="~/Scripts/GridStack/gridstack.js"></script>
    <script src="~/Scripts/GridStack/gridstack.jQueryUI.js"></script>
</head>
<body>
    @Html.HiddenFor(m => m.WebsiteId)
    <header>
        <div><h2>Konfigurator strony</h2></div>
        <div><a class="btn btn-danger" id="save-website-btn" style="margin-bottom:10px;">Zapisz</a></div>
    </header>
    <main>
        <div class="left_column">
            <div class="list-group" style="margin-top:20px;">
                <div style="width:95%;margin:auto;">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Kolor tła
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" style="color:black;text-align:center;">
                                    <div id="changeBackgroundColorBtn" class="input-group colorpicker-component">
                                        <input type="text" value="#dd0f20" class="form-control" />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Import zdjęcia
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body" style="padding-top:0;text-align:center;">
                                    @using (Html.BeginForm("UploadImage", "WebsiteEditor", FormMethod.Post, new { enctype = "multipart/form-data",id="uploadImageForm" }))
                                    {
                                    <input type="hidden" name="WebsiteId" value="@Model.WebsiteId" />
                                    <div class="form-group">
                                        <label for="file-upload" class="custom-file-upload col-lg-12">
                                            <i class="fa fa-cloud-upload"></i> Wybierz plik
                                        </label>


                                        <input id="file-upload" type="file" name="ImageFile" />
                                    </div>
                                    <div>
                                        <div>
                                            <div>
                                                <input type="submit" value="Zapisz" id="uploadImageBtn" class="btn btn-danger" />
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Tekst
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div>
                                        <input type="text" class="textId form-control" placeholder="Nazwa sekcji np. kontakt" style="margin-bottom:15px; color:black;" />
                                        <input type="button" class="btn btn-danger" id="add-text-btn" value="Dodaj tekst" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Zdjęcia
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body" id="imageContainer" style="height:300px;overflow-y:scroll;">
                                    <div>
                                        <label id="select-image-label" style="color:black;">Wybierz zdjęcie</label>
                                        <input type="hidden" id="add-image-src-hidden-input" value="" />
                                        <input type="hidden" id="add-image-id-hidden-input" value="" />
                                        <input type="text" class="imageId form-control" placeholder="Nazwa sekcji np. obrazek1" style="display:none;color:black;" />
                                        <input type="button" class="btn btn-danger" style="display:none;" id="add-image-btn" value="Dodaj zdjęcie" />
                                    </div>
                                    @foreach (var image in Model.Images)
                                    {
                                    <img src="@Url.Content(image.ImagePath)" height="140" width="140" value="@image.ImageId" style="margin-right:5px;border:1px solid black;margin-bottom:5px;" />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Menu
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <div>
                                        <label style="color:black;">Wybierz styl</label>
                                        <div style="color:black;">
                                            <div class="radio">
                                                <div class="black-bg selectStyleColor">
                                                    <input type="radio" name="optradio" value="1" checked="checked" class="radio">
                                                </div>
                                            </div>
                                            <div class="radio">
                                                <div class="blue-bg selectStyleColor">
                                                    <input type="radio" name="optradio" value="2">
                                                </div>
                                            </div>
                                            <div class="radio">
                                                <div class="gray-bg selectStyleColor">
                                                    <input type="radio" name="optradio" value="3">
                                                </div>
                                            </div>
                                            <div class="radio">
                                                <div class="white-bg selectStyleColor">
                                                    <input type="radio" name="optradio" value="4">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <input type="button" class="btn btn-danger" id="add-navigation-bar" value="Dodaj menu" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_column">
            <div class="website_container" id="website_container" style="background-color:@Model.WebsiteColor !important;">
                <div id="navigation-bar" style="display:none;">
                    <nav class="navbar" style="border-radius:0;">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                <li class="addNavigationListItem"><i class="fa fa-plus" aria-hidden="true"></i></li>
                            </ul>
                            <div class="deleteNavbar">&times;</div>
                        </div>
                    </nav>
                </div>

                <div class="container-fluid">
                    <div class="grid-stack" id="grid">
                    </div>
                </div>
            </div>
            <div class="addNavigationElement" style="display:none;color:black;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Dodaj element do menu
                        </h4>
                        <div class="deleteNavigationForm">&times;</div>
                    </div>
                    <div class="panel-body">
                            <div class="form-group">
                                <label>Nazwa elementu</label>
                                <input type="text" class="nameNavigation form-control" placeholder="np. Obrazek1" />
                            </div>
                        <div class="form-group">
                            <label>Wybierz element</label>
                            <select id="selectSections" class="form-control"></select>
                        </div>
                        <button class="btn btn-danger" id="addNavbarElementBtn" disabled>Dodaj</button>
                    </div>
                </div>
            </div>
            <div class="editWidgetDiv" style="color:black;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Edycja tekstu
                        </h4>
                    </div>
                    <div class="panel-body" id="imageContainer">
                        <div class="editTextToolbox" style="height:350px;">
                            <div class="form-group">
                                <label>Wybierz rodzaj</label>
                                <select id="selectFontFamily" disabled class="form-control">
                                    <option value="1" style="font-family:Arial;">Arial</option>
                                    <option value="2" style="font-family:'Century Gothic';">Century Gothic</option>
                                    <option value="3" style="font-family:'Copperplate Gothic Light';">Copperplate Gothic Light</option>
                                    <option value="4" style="font-family:Georgia;">Georgia</option>
                                    <option value="5" style="font-family:Impact;">Impact</option>
                                    <option value="6" style="font-family:'Lucida Console';">Lucida Console</option>
                                    <option value="7" style="font-family:Tahoma;">Tahoma</option>
                                    <option value="8" style="font-family:'Times New Roman';">Times New Roman</option>
                                    <option value="9" style="font-family:'Trebuchet MS';">Trebuchet MS</option>
                                    <option value="10" style="font-family:Verdana">Verdana</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Wybierz rozmiar</label>
                                <select id="selectFontSize" disabled class="form-control">
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="16">16</option>
                                    <option value="18">18</option>
                                    <option value="20">20</option>
                                    <option value="22">22</option>
                                    <option value="24">24</option>
                                    <option value="26">26</option>
                                    <option value="28">28</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Wybierz styl czcionki</label>
                                <select id="selectFontStyle" disabled class="form-control">
                                    <option value="1">Normalna</option>
                                    <option value="2">Pochylona</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Wybierz grubość czcionki</label>
                                <select id="selectFontWeight" disabled class="form-control">
                                    <option value="1" style="font-weight:normal;">Normalna</option>
                                    <option value="2" style="font-weight:bold;">Pogrubiona</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Wybierz kolor czcionki</label>
                                <div id="changeFontColorBtn" class="input-group colorpicker-component">
                                    <input type="text" value="" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="errorForUploadImage" style="display:none;">
                <div class="alert alert-danger">
                    <div class="deleteMessege">&times;</div>
                    <strong>Plik jest wymagany</strong>
                </div>
            </div>
            <div class="errorForAddTextOrImage" style="display:none;">
                <div class="alert alert-danger">
                    <div class="deleteMessege">&times;</div>
                    <strong>Sekcja musi być unikalna</strong>
                </div>
            </div>
            <div class="errorForAddTextOrImageRequired" style="display:none;">
                <div class="alert alert-danger">
                    <div class="deleteMessege">&times;</div>
                    <strong>Nazwa sekcji jest wymagana !</strong>
                </div>
            </div>
        </div>
    </main>

</body>
</html>

@section Scripts{
    <script src="~/ScriptsApp/WebsiteEditor/Index.js"></script>
}
