@model WebsiteBuilder.Public.Website.WebsiteDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")   
    <script src="~/ScriptsApp/WebsiteEditor/Index.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/ScriptsApp/Common/AjaxHelper.js"></script>
    <script src="~/ScriptsApp/WebsiteEditor/Index.js"></script>
    <script src="~/Scripts/numericInput.js"></script>

    <link href="~/Content/websiteEditor.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div>Jakub Woźniak strona</div>
        <div><a class="btn btn-danger">Zapisz</a></div>
    </header>
    <main>
        <div class="left_column">
            <div class="list-group" style="margin-top:20px;">
                <div style="width:95%;margin:auto;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Kolor tła
                            </h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body" style="text-align:center;">
                            <div id="changeBackgroundColorBtn" data-format="alias" class="input-group colorpicker-component">
                                <input type="text" value="primary" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                                <input type="hidden" id="backgroundColorHidden" value="" />
                            </div>
                        </div>
                    </div>
                    <ul class="draggable-list">
                        <li class="draggable ui-state-default">
                            <div class="draggable-content">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                Menu
                            </div>
                        </li>
                        <li class="draggable ui-state-default">
                            <div class="draggable-content">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                Text
                            </div>
                        </li>
                        <li class="draggable ui-state-default">
                            <div class="draggable-content">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                Zdjęcie
                            </div>
                        </li>
                        
                        <li id="question-template">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="main_column">
            <div class="website_container" id="website_container">
                <div id="pages-tab-content" class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="page1">
                        <ul id="sortable1" class="sortable-list">
                            <li class="empty-element" style="color:black;">Przeciągnij szablon</li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>

